<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta property="og:image" content="http://www.salmonesolutions.tk/images/Header.png" />
    		<meta property="og:title" content="Salmone Solutions" />
		<meta property="og:type" content="Company" />
		<meta property="og:url" content="http://www.salmonesolutions.tk" />
		<meta property="og:description" content="Effective software solutions for the modern age bussiness." />

		<meta name="description" content="Effective software solutions for the modern age bussiness.">
		<meta name="keywords" content="Software Deveopment, Web Design,Tech Enthusiast,Hire,Website development">
		<meta name="author" content="Ayabonga Qwabi">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<title>Salmone </title>

		<link rel="icon" href="images/illustration.png">
		<link rel="apple-touch-icon" href="images/illustrationpng">
		<link rel="apple-touch-icon" sizes="72x72" href="images/illustration.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/illustration.png">
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- FONT ICON (FONT-AWESOME) -->
		<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<!-- OWL-CAROUSEL -->
		<link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="assets/owl-carousel/owl-carousel/owl.theme.css">
		<!-- WODRY TEXT SLIDING  -->
		<link rel="stylesheet" href="css/wodry.css">
		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" href="css/style.css">
		<!-- COLORS -->
		<link rel="stylesheet" href="css/colors/light-green.css">
		<!-- GOOGLE API FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed" rel="stylesheet">
		<!-- RESPONSIVE FIXES -->
		<link rel="stylesheet" href="css/responsive.css">
		<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	<body>
		<section id="section-1" class="header-section">
		 <div class="small color-overlay">
			<div class="container">
				 <div class='header-logo'>
					  <img src='images/illustration.png'/>
						<a href='/'><h1> Developers </h1></a>

				 </div>
			</div>
		</div>
		 </section>
		 <section id="section-5" class="testimonial-section">
	  		<div class="container">
	  			<div class="section-heading black-text">
						<h2 class='black-text'>At Salmone Solutions, we don’t just focus our efforts on the monetary aspects of being a consulting agency,
								but we also have an entire development team that works tirelessly to create technology that is simple,
								effective and unique.
						</h2>
	  			</div>
	  		</div>
	  		<div class="container" id="demo">
	  			<div class="row owl-carousel" id="owl-demo">

	 				<div class="testimonial-iteam item col-md-8 col-md-offset-2">
	 					<p>Our resident Tech Enthusiast , Creative Junkie and a Logical Sceptic.</p>
	 					<div class="client-avater">
	 						<img class="img-circle" src="./images/h4.jpg" alt="Avater Image">
	 					</div>
	 					<div class="client-info">
	 						<div class="client-name colored-color">
	 							<p><a href='/developers/ayabonga'>Ayabonga Qwabi</a></p>
	 						</div>
	 						<div class="company-name">
	 							<p>Founder & Lead Developer</p>
	 						</div>
	 					</div>

	 				</div>
			</section>





		<script src="js/jquery.min.js"></script>

		<script>
			jQuery(window).load(function() {
				"use strict";
				jQuery(".status").fadeOut();
				jQuery(".preloader").delay(1000).fadeOut("slow");
			})
		</script>

		<!-- BOOTSTRAP SCRIPT -->
		<script src="js/bootstrap.min.js"></script>

		<!-- WODRY TEXT SLIDING EFFECT -->
		<script src="js/wodry.min.js"></script>

		<!-- SMOOTH SCROLLING FOR EVERY BROWSER -->
		<script src="js/SmoothScroll.js"></script>

		<!-- RETINA READY FOR DEVICES -->
		<script src="js/retina.min.js"></script>

		<!-- RESPONSIVE VIDEO -->
		<script src="js/jquery.fitvids.js"></script>

		<!-- OWL-CAROUSEL -->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>

		<!-- CUSTOM INI AND MODIFATION -->
		<script src="js/custom.js"></script>
	</body>

</html>
