<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<!-- FACEBOOK OPEN GRAPH PROPERTIES -->
		<meta property="og:image" content="	http://www.salmonesolutions.tk/images/Header.png" />
    		<meta property="og:title" content="Salmone Solutions" />
		<meta property="og:type" content="Company" />
		<meta property="og:url" content="http://www.salmonesolutions.tk" />
		<meta property="og:description" content="Effective software solutions for the modern age bussiness." />

		<meta name="description" content="Effective software solutions for the modern age bussiness.">
		<meta name="keywords" content="Software Deveopment, Web Design,Tech Enthusiast,Hire,Website development">
		<meta name="author" content="Ayabonga Qwabi">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<title>Salmone </title>

		<link rel="icon" href="images/logo.png">
		<link rel="apple-touch-icon" href="images/illustration.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/logo.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/logo.png">
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- FONT ICON (FONT-AWESOME) -->
		<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<!-- OWL-CAROUSEL -->
		<link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="assets/owl-carousel/owl-carousel/owl.theme.css">
		<!-- WODRY TEXT SLIDING  -->
		<link rel="stylesheet" href="css/wodry.css">
		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" href="css/style.css">
		<!-- COLORS -->
		<link rel="stylesheet" href="css/colors/light-green.css">
		<!-- GOOGLE API FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed" rel="stylesheet">
		<!-- RESPONSIVE FIXES -->
		<link rel="stylesheet" href="css/responsive.css">
		<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>
		<section id="section-1" class="header-section">
	 		<div class="color-overlay">

		 			<div class="container">
						<div class='header-logo'>
							 <img src='./images/logo.png'/>
							 <h1> Salmone Solutions </h1>
					 	</div>

			 			<div class="header-text">
							<div class="header-social-icons"> <!-- HEADER SOCIAL ICONS -->
								<a href="#"><i class="hovicon effect-7 sub-b fa fa-facebook-square "></i></a>
								<a href="#"><i class="hovicon effect-7 sub-b fa fa-github-square"></i></a>
								<a href="/developers"><i class="hovicon effect-7 sub-b fa fa-users"></i></a>
								<a href="/projects"><i class="hovicon effect-7 sub-b fa fa-folder-open"></i></a>
							</div>
							<H2>
								<span class=wodry>
									 effective software solutions | for the modern age business </span>
			 					</span>
							</H2>
			 				<H4>Get the most out of your business </H4>
							<H6>Let's get you connected  </H6>
			 			</div> <!-- HEADER-TEXT -->
						<div class="header-button">
							<a class="btn-lg red standard-button" href="/pricing">Prices</a>
						</div> <!-- HEADER-BUTTON -->
					</div>

		 	</div>
	 	</section>
		<!-- =========================
		   FOOTER  AREA
		============================== -->
		<footer id="section-9" class="section-bg-color-second">
			<div class="container">

				<div class="header-text">
					<h1>Ayabonga Qwabi </h1>
					<h6>0634491320</h6>
					<h6>ayabonga@projectcodex.co</h6>
					<br/>
					<br/>
					<small>&copy;2017 Salmone Solutions</small>
				</div> <!-- COPYRIGHT TEXT -->

			</div> <!-- CONTAINER CLOSE HERE -->
		</footer>
		<script src="js/jquery.min.js"></script>

		<script>
			jQuery(window).load(function() {
				"use strict";
				jQuery(".status").fadeOut();
				jQuery(".preloader").delay(1000).fadeOut("slow");
			})
		</script>

		<!-- BOOTSTRAP SCRIPT -->
		<script src="js/bootstrap.min.js"></script>

		<!-- WODRY TEXT SLIDING EFFECT -->
		<script src="js/wodry.min.js"></script>

		<!-- SMOOTH SCROLLING FOR EVERY BROWSER -->
		<script src="js/SmoothScroll.js"></script>

		<!-- RETINA READY FOR DEVICES -->
		<script src="js/retina.min.js"></script>

		<!-- RESPONSIVE VIDEO -->
		<script src="js/jquery.fitvids.js"></script>

		<!-- OWL-CAROUSEL -->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>

		<!-- CUSTOM INI AND MODIFATION -->
		<script src="js/custom.js"></script>
	</body>

</html>
