<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<!-- FACEBOOK OPEN GRAPH PROPERTIES -->
                <meta property="og:image" content="http://www.salmonesolutions.tk/images/Header.png" />
    		<meta property="og:title" content="Salmone Solutions" />
		<meta property="og:type" content="Company" />
		<meta property="og:url" content="http://www.salmonesolutions.tk" />
		<meta property="og:description" content="Effective software solutions for the modern age bussiness." />

		<meta name="description" content="Effective software solutions for the modern age bussiness.">
		<meta name="keywords" content="Software Deveopment, Web Design,Tech Enthusiast,Hire,Website development">
		<meta name="author" content="Ayabonga Qwabi">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<title>Salmone </title>

		<link rel="icon" href="images/illustration.png">
		<link rel="apple-touch-icon" href="images/illustration.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/illusttration.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/illustration.png">
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- FONT ICON (FONT-AWESOME) -->
		<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<!-- OWL-CAROUSEL -->
		<link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="assets/owl-carousel/owl-carousel/owl.theme.css">
		<!-- WODRY TEXT SLIDING  -->
		<link rel="stylesheet" href="css/wodry.css">
		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" href="css/style.css">
		<!-- COLORS -->
		<link rel="stylesheet" href="css/colors/light-green.css">
		<!-- GOOGLE API FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed" rel="stylesheet">
		<!-- RESPONSIVE FIXES -->
		<link rel="stylesheet" href="css/responsive.css">
		<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	<body>
		<section id="section-1" class="header-section">
		 <div class='color-overlay'>
	 		<div class="container">

				<div class='header-logo'>
					 <a href='/'><img src='images/illustration.png'/></a>
					 <h1> Salmone Solutions </h1>
				</div>

	 				<div class="header-text">
	 					<div class="left-about text-left">
	 						<div class="left-about-heading">
	 							<h2>Pricing</h2>
	 							<h4>These are some of the products we offer</h4>
	 						</div>
	 						<div class="left-about-content">
	 						<div class="about-content-text boder-from-left">
	 								<p>Software as a Service.
	 							</p>
	 						</div>
	 							<div class="about-lists">
	 								<div class="single-list-item">

	 									<div class="about-list-content">
	 										<h6>R7 000 - R15 000 <span class='description'> Website </span></h6>
	 										<p>Complete CMS websites with SQL database backend, blogging and e-commerce</p>
	 									</div>
	 								</div> <!-- SINGLE-FEATURE LIST -->
	 								<div class="single-list-item">

	 									<div class="about-list-content">
	 										<h6>R15 500 - R25 000 <span class='description'>  Web App </span></h6>
	 										<p> Full customised CMS web application applications to manage all your business processes powered with mobile applications, automated SMS and e-mail applications</p>

	 									</div>
	 								</div> <!-- SINGLE-FEATURE LIST -->
	 								<div class="single-list-item">

	 									<div class="about-list-content">
	 										<h6>R27 000 - R45 000 <span class='description'>OSS</span></h6>
	 										<p> Multi-user desktop and web applications to manage all your business processes with automated e-mail and SMS functionality, automated reporting, multiple branch database replication, web services</p>
	 									</div>
	 								</div> <!-- SINGLE-FEATURE LIST -->
	 							</div>
	 						</div>
							<div class="header-button col-md-4 col-md-offset-4 col-sm-12">
								<a class="btn-lg " href="/">... back</a>
							</div> <!-- HEADER-BUTTON -->
	 					</div>

	 				</div>


	 		</div>
		 </div>
		</section>

		<script src="js/jquery.min.js"></script>

		<script>
			jQuery(window).load(function() {
				"use strict";
				jQuery(".status").fadeOut();
				jQuery(".preloader").delay(1000).fadeOut("slow");
			})
		</script>

		<!-- BOOTSTRAP SCRIPT -->
		<script src="js/bootstrap.min.js"></script>

		<!-- WODRY TEXT SLIDING EFFECT -->
		<script src="js/wodry.min.js"></script>

		<!-- SMOOTH SCROLLING FOR EVERY BROWSER -->
		<script src="js/SmoothScroll.js"></script>

		<!-- RETINA READY FOR DEVICES -->
		<script src="js/retina.min.js"></script>

		<!-- RESPONSIVE VIDEO -->
		<script src="js/jquery.fitvids.js"></script>

		<!-- OWL-CAROUSEL -->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>

		<!-- CUSTOM INI AND MODIFATION -->
		<script src="js/custom.js"></script>
	</body>

</html>
