<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<!-- FACEBOOK OPEN GRAPH PROPERTIES -->
    <meta property="og:title" content="Salmone Solutions" />
		<meta property="og:type" content="Company" />
		<meta property="og:url" content="http://www.salmonesolutions.tk" />
		<meta property="og:description" content="Effective software solutions for the modern age bussiness." />

		<meta name="description" content="Effective software solutions for the modern age bussiness.">
		<meta name="keywords" content="Software Deveopment, Web Design,Tech Enthusiast,Hire,Website development">
		<meta name="author" content="Ayabonga Qwabi">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<title>Salmone </title>

		<link rel="icon" href="images/logo.png">
		<link rel="apple-touch-icon" href="images/logo.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/logo.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/logo.png">
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- FONT ICON (FONT-AWESOME) -->
		<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<!-- OWL-CAROUSEL -->
		<link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="assets/owl-carousel/owl-carousel/owl.theme.css">
		<!-- WODRY TEXT SLIDING  -->
		<link rel="stylesheet" href="css/wodry.css">
		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" href="css/style.css">
		<!-- COLORS -->
		<link rel="stylesheet" href="css/colors/light-green.css">
		<!-- GOOGLE API FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed" rel="stylesheet">
		<!-- RESPONSIVE FIXES -->
		<link rel="stylesheet" href="css/responsive.css">
		<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	<body>
		<section id="section-1" class="header-section">
		 <div class="small color-overlay">
			<div class="container">
				 <div class='header-logo'>
						<a href='/'><img src='./images/logo.png'/></a>
				 </div>
			</div>
		</div>
		 </section>
		 <section id="section-5" class="testimonial-section">
	  		<div class="container">
	  			<div class="section-heading">
						<h6 class='black-text'>
							 Our project experience covers the entire scope of software engineering, management and specialist technical services for public and private sector clients nationally.
							 We work on meaningful projects that are interesting and challenging while also benefitting the communities in which we work.
							 Our client centric business model gives us the agility to deliver the full range of our services nationwide.
						</h6>
	  			</div>
	  		</div>

	  		<div class="container" id="demo">
					<div class="row black">
		 				<div class="col-md-6">
		 					<div class="left-about text-left black">
		 						<div class="left-about-heading">
		 							<h2>Projects</h2>
		 							<h3>Our Web Applications</h3>

		 						</div>
		 						<div class="left-about-content">
		 						<div class="about-content-text boder-from-left">
		 								<p>Listed below are some of the projects we have undertaken in the past year and some of which are still in development.
		 							</p>
		 						</div>
		 							<div class="about-lists">
		 								<div class="single-list-item">
		 									<a href="/projects/gatjie" class="about-list-icon pull-left">
		 										<i class="fa fa-share"></i>
		 									</a>
		 									<div class="about-list-content">
		 										<h6>Gatjie</h6>
		 										<p>Locate the best unmapped trasport hubs around you</p>
		 									</div>
		 								</div> <!-- SINGLE-FEATURE LIST -->
		 								<div class="single-list-item">
		 									<a href="http://github.com/orgs/SalmoneSolutions/projects" class="about-list-icon pull-left">
		 										<i class="fa fa-share"></i>
		 									</a>
		 									<div class="about-list-content">
		 										<h6>Impress</h6>
		 										<p>A startup company Pitch judging tool</p>
		 									</div>
		 								</div> <!-- SINGLE-FEATURE LIST -->
		 								<div class="single-list-item">
		 									<a href="http://github.com/orgs/SalmoneSolutions/projects" class="about-list-icon pull-left">
		 										<i class="fa fa-share"></i>
		 									</a>
		 									<div class="about-list-content">
		 										<h6>Yaupa</h6>
		 										<p>Nigerian Transport booking web app.</p>
		 									</div>
		 								</div> <!-- SINGLE-FEATURE LIST -->
										<div class="single-list-item">
											<a href="http://github.com/orgs/SalmoneSolutions/projects" class="about-list-icon pull-left">
												<i class="fa fa-share"></i>
											</a>
											<div class="about-list-content">
												<h6>Salmon CMS</h6>
												<p>A website design and management application.</p>
											</div>
										</div> <!-- SINGLE-FEATURE LIST -->
		 							</div>
		 						</div>
		 					</div>
		 				</div>
		 				<div class="col-md-6 black">
		 					<div class="right-about">
		 						<img class="img-responsive" src="./images/responsive-design.jpg" alt="Left Image">
		 					</div>
		 				</div>
		 			</div>
		 		</div>
			</section>





		<script src="js/jquery.min.js"></script>

		<script>
			jQuery(window).load(function() {
				"use strict";
				jQuery(".status").fadeOut();
				jQuery(".preloader").delay(1000).fadeOut("slow");
			})
		</script>

		<!-- BOOTSTRAP SCRIPT -->
		<script src="js/bootstrap.min.js"></script>

		<!-- WODRY TEXT SLIDING EFFECT -->
		<script src="js/wodry.min.js"></script>

		<!-- SMOOTH SCROLLING FOR EVERY BROWSER -->
		<script src="js/SmoothScroll.js"></script>

		<!-- RETINA READY FOR DEVICES -->
		<script src="js/retina.min.js"></script>

		<!-- RESPONSIVE VIDEO -->
		<script src="js/jquery.fitvids.js"></script>

		<!-- OWL-CAROUSEL -->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>

		<!-- CUSTOM INI AND MODIFATION -->
		<script src="js/custom.js"></script>
	</body>

</html>
